<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      
      <div>
        {% if page.profile -%}
          {% if page.profile.image -%}
            <div style="float: left;">
              <img src="{{ site.github.url }}/assets/img/{{ page.profile.image }}" width="350" hspace="20" vspace="20">
            </div>
          {%- endif %}
        {%- endif %}
          <div style="padding: 70px 5" class="content-container">
            {{ content }}
           </div>
      </div>
 
      {% include footer.html %}
    </div>
  </body>
</html>
